*{
    box-sizing: border-box;
    padding: auto; 
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    max-width: 1700px; 
}



p{
    color: aliceblue;
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

#datos .grapper {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    
}

input{
    font-size: 2em;
}

#btn{
    font-size: 4em;
    display: flex;
    padding: 5px 10px;
    flex-direction: column;
    border: solid 3px rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 30px;
    box-shadow: rgba(25, 228, 235, 0.911)0px 20px 30px -9px ;
    cursor: pointer;
}


#btn:hover{
    color: white;
    background-color:  black;
    border:solid white;
    box-shadow: rgba(25, 228, 235, 0.911)0px 20px 30px -9px ;
}

span{
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   color:  rgba(25, 228, 235, 0.911);
}

.grapper{
    max-width: 1700px;
    margin: 100px 80px;
    background-image: linear-gradient( 26deg, rgba(28, 150, 129, 0.582), rgba(0, 0, 0, 0.801) );
    border: solid blue;
    border-radius: 30px;
    box-shadow: rgba(25, 228, 235, 0.911)0px 20px 30px -10px;
}

@media(min-width: 800px){
   
    .grapper{
    margin: 110px 600px;
    }
    p{
        font-size: 2.1em;
        
    }
    #btn{
        font-size: 1.5em;
        padding: 10px 30px;
    }

    input{
    padding: 13px;
    margin: 19px;
    font-size: 1em;
        
    }
    span{
        font-size: 1em;
    }

   

}

